# Ignore virtual environments
venv/
ENV/
env/

# Ignore raw data and datasets
data/
data/*

# Ignore saved model weights
*.pth
*.pt
*.onnx

# Ignore temporary files
.gradio/
__pycache__/
*.pyc
.DS_Store